[Unit]
Description={{ project_name }} gunicorn daemon
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}
RuntimeDirectory={{ project_name }}
RuntimeDirectoryMode=0755
Environment="PATH={{ venv_dir }}/bin"
ExecStart={{ venv_dir }}/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:{{ socket_path }} \
          {{ project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target
